#form {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 38px;
}

#form .help-block {
	font-size: 80%;
	color: gray;
	font-style: italic;
}

#title {
	margin-top: 0px; 
}

#result img, #more-screenshots img {
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

#more h3 {
	border-bottom: 1px solid black;
	padding-left: 10px;
	text-align: left;
	font-style: italic;
	width: 95%;
	margin: auto;
}

#options {
	text-align: left;
	font-size: 85%;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

#options > a {
	color: inherit;
}

#options > a:hover {
	color: cornflowerblue;
	text-decoration: none;
}

#options-container {
	border: 0px solid;
	padding-top: 15px;
	border-radius: 5px;
	display: none;
}

#cached {
	padding-left: 45px;
}

#result a:hover img {
	background-color: lightblue;
}

#more-screenshots a:hover img {
	background-color: lightblue;
}

#more-screenshots {
  	margin-top: 15px;
  	margin-bottom: 15px;
}

#result .thumb-fake {
	display: inline-block;
	position: relative;
}

#result .thumb-fake #count {
	position: absolute;
	font-size: 100px;
	left: 0px;
	top: 50px;
	width: 100%;
}

.msg-alert {
	line-height: 200%;
	height: 100%;
}

.row {
	margin: 0px;
}

#menu {
	position: absolute;
	right: 10px;
	top: 5px;
}

#menu a {
	color: inherit;
}

#menu a:hover {
	background-color: #446E9B;
	color: white;
}
